* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: indigo;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}
