.router-link-active {
    color: green;
}

.done {
    text-decoration: line-through;
    color: darkgrey;
}

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

input {
    padding: 1px;
    margin-bottom: 10px;
}

.todo-app {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    background-color: lightslategray;
    color: darkblue;
}

.todo-li {
    display: flex;
    justify-content: center;
    color: rgb(6, 209, 245);
    background: rgba(56, 63, 63, 0.479);
}
