.router-link-active {
    color: green;
}

.done {
    text-decoration: line-through;
    color: darkgrey;
}

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

html{
    background: #00d1b291;

}
body{
}

input {
    padding: 1px;
    margin-bottom: 10px;
}



